.head {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*/ Intro Section Styles */
#intro-section {
    text-align: left;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding-top: 60px; /* Adjust padding for space below fixed header */
}

.header-container {
    display: flex;
    flex-direction: column;
}

#intro-section h1 {
    padding-left: 10px;
    font-size: 2em;
    margin: 0;
}

#project-header {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
}

#intro-section h2 {
    padding-left: 10px;
    font-size: 1.5em;
    margin: 10px 0;
}

#intro-section p {
    padding-left: 10px;
    font-size: 1.2em;
    margin: 0;
}

/* Responsive Design */
@media only screen and (max-width: 430px) {
    #intro-section {
        text-align: center;
        margin-top: 100px; /* Adjust padding for space below fixed header */
        width: 100vw;
    }

    #intro-section h1 {
        font-size: 1.5em;
    }

    #intro-section h2 {
        font-size: 1.2em;
    }

    #intro-section p {
        font-size: 1em;
    }

    #project-header {
        position: fixed;
        top: 20px;
        left: 1px;
        width: 100%;
        text-align: left;
    }
}

