.head{ 
    position: fixed;
    margin: 0;
    padding: 0;
    
}
* {
    box-sizing: border-box;
}


* Intro Section Styles */
#intro-section {
    text-align: left; /* Align text to the left */
    width: 100vw;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.header-container {
    display: flex;
    padding-top: 10px;

    flex-direction: column; /* Align items vertically */
}

#intro-section h1 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2em;
    margin: 0; /* Removed px unit */
}


#project-header {
    
    position: fixed; /* Absolute positioning */
    top: 40px; /* Adjust based on desired position */
    right: 20px; /* Adjust based on desired position */
    text-align: right;
}

#intro-section h2 {
    padding-left: 10px;
    font-size: 1.5em;
    margin: 10px 0; /* Space between h1 and h2 */
}

#intro-section p {
    padding-left: 10px;
    font-size: 1.2em;
    margin: 0;
}