<div  id="about" class="about-me-container">
    <div class="about-me-content">
        <div class="about-me-photo">
            <img src="./assets/images/My_Photo.jpeg" alt="Your Photo">
        </div>
        <div class="about-me-text">
            <h2 id="about-h2">About</h2>
            <p>
                Hey there! I'm Prabal Manchanda, a passionate software developer who thrives on designing and coding innovative solutions.
                With a love for crafting digital experiences, I bring creativity and precision to every project I undertake.
                Let's build something extraordinary together.
            </p>
        </div>
    </div>
</div>

