<div id="about" class="about-me-container">
    <div class="about-me-content">
        <div class="about-me-photo">
            <img src="{{data.image}}" alt="Your Photo">
        </div>
        <div class="about-me-text">
            <h2 id="about-h2">About</h2>
            <p>{{data.about}}</p>
        </div>
    </div>
    <div class="certifications-container">
        <h1 id="certifications-h2">Certifications</h1>
        <div class="certifications-content">
            <div class="certificate" *ngFor="let certificate of certificate">
                <div class="certificate-details">
                    <h3>{{certificate.Name}}</h3>
                    <a href="{{certificate.pdf}}" target="_blank">View Certificate</a>
                </div>
            </div>
        </div>
    </div>
</div>
