<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [ngStyle]="{textAlign: 'center'}">
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">star</span>
            Title
        </ng-template>
      
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">add_circle</span>
            Subtitle
        </ng-template>
        
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">favorite</span>
            Image
        </ng-template>
     
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">arrow_downward</span>
            Resume
        </ng-template>
       
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">done_all</span>
            Hobbies
        </ng-template>
    
    </mat-tab>
</mat-tab-group>
