<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [ngStyle]="{textAlign: 'center'}">
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">star</span>
            Title
        </ng-template>
        <app-projects-title></app-projects-title>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">add_circle</span>
            Subtitle
        </ng-template>
        <app-projects-subtitle></app-projects-subtitle>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">favorite</span>
            Image
        </ng-template>
        <app-projects-image></app-projects-image>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">arrow_downward</span>
            Resume
        </ng-template>
        <app-projects-resume></app-projects-resume>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">done_all</span>
            Hobbies
        </ng-template>
        <app-projects-hobbies></app-projects-hobbies>
    </mat-tab>
</mat-tab-group>
