<mat-tab-group mat-stretch-tabs class="menu-navbar" [ngStyle]="{textAlign: 'center'}">
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons" href="#home">home</span>
            <a href="#home">Home</a>
        </ng-template>
       
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons" href="#about">info</span>
            <a href="#about">About</a>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">work</span>
            Work
        </ng-template>
      
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">terminal</span>
            Projects
        </ng-template>
        
    </mat-tab>

    
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-icons">mail</span>
            Contact
        </ng-template>
    
    </mat-tab>
</mat-tab-group>
