<div [ngClass]="{'dark-mode': darkMode}" class="theme-container">
  <app-header id="home" [data]="mydata"></app-header>

  <div class="div-main-id">
      <h1>Software Development<br>and Design Studio<br>from the Future.</h1>
      <button><a href="#projects">Dig into my universe</a></button>
  </div>

  <app-menu-about [data]="mydata"></app-menu-about>
  <app-menu-work [pexperience]="experience"></app-menu-work>
  <app-menu-projects [pwork]="project"></app-menu-projects>
  <app-menu-contact [links]="link"></app-menu-contact>
  <app-footer [data]="mydata"></app-footer>

  <div class="theme-toggle">
      <h1>Theme!</h1>
      <label>
          <input type="checkbox" [(ngModel)]="darkMode"> Dark Mode
      </label>
  </div>
</div>
