<div class="main-div">
    <div class="contact-me" id="contact">
        <h2>Contact Me</h2>
    </div>
  
    <div class="contact-icons">
        <div class="fa-icons">
            <a href="{{links.Linkedin}}" target="_blank">
                <button>
                    <fa-icon [icon]="myLinkedin" class="icon" style="color: #0082ca;"></fa-icon>
                </button>
            </a>
            <a href="{{links.GitHub}}" target="_blank">
                <button>
                    <fa-icon [icon]="myGithub" class="icon" style="color: #333333;"></fa-icon>
                </button>
            </a>
        </div>
        <div>
            <a href="mailto:{{links.Email}}">
                <button>
                    <span class="material-icons icon" style="color: #6dbbe6;">email</span>
                </button>
              </a>
        </div>
    </div>
  </div>
  