/* Global Styles */
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 20px; /* Optional: Adjust padding for the body */
    position: relative; /* Ensure body is the reference for absolute positioning */
}

/* Intro Section Styles */
#intro-section {
    text-align: left; /* Align text to the left */
    padding: 0px; /* Adjusted padding for left alignment */
    margin: 20px 0; /* Adjusted margin for alignment */
    max-width: 600px;
    font-family: Arial, sans-serif;
    color: #333;
}

.header-container {
    display: flex;
    flex-direction: column; /* Align items vertically */
}

#intro-section h1 {
    font-size: 2em;
    margin: 0; /* Removed px unit */
    color: #333;
}

#project-header {
    position: absolute; /* Absolute positioning */
    padding: 10;
    top: 40px; /* Adjust based on desired position */
    right: 20px; /* Adjust based on desired position */
    text-align: right;
}

#intro-section h2 {
    font-size: 1.5em;
    margin: 10px 0; /* Space between h1 and h2 */
    color: #ff0000;
}

#intro-section p {
    font-size: 1.2em;
    margin: 0;
    color: #000000;
}

/* Footer Section Styles */
#f-section {
    display: block;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    font-size: 1.2em;
    color: #333;
}

.contact {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact p {
    color: #666;
    font-size: 1.2em;
}

.contact ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.contact li {
    margin-bottom: 5px;
}

.contact li a {
    text-decoration: none;
    color: #0077b5; /* LinkedIn Blue */
}

.contact li a:hover {
    text-decoration: underline;
}

#intro {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

#heading {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

#description {
    font-size: 1.2em;
    color: #666;
}

/* Portfolio Section Styles */
#portfolio-heading {
    text-align: center;
    font-size: 2em;
    color: #333; /* Dark gray color */
    margin-bottom: 20px;
}

#portfolio-list {
    list-style-type: none;
    padding-left: 0;
}

#portfolio-list li {
    margin-bottom: 10px;
}

#item1,
#item2,
#item3,
#item4,
#item5 {
    font-size: 1.1em;
    color: #666; /* Light gray color */
    margin-left: 20px;
}
