/* Global Styles */
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 20px; /* Optional: Adjust padding for the body */
    position: relative; /* Ensure body is the reference for absolute positioning */
}

/* Intro Section Styles */
#intro-section {
    text-align: left; /* Align text to the left */
    padding: 0px; /* Adjusted padding for left alignment */
    margin: 20px 0; /* Adjusted margin for alignment */
    max-width: 600px;
    font-family: Arial, sans-serif;
    color: #333;
}

.header-container {
    display: flex;
    flex-direction: column; /* Align items vertically */
}

#intro-section h1 {
    font-size: 2em;
    margin: 0; /* Removed px unit */
    color: #333;
}

#project-header {
    position: absolute; /* Absolute positioning */
    padding: 10;
    top: 40px; /* Adjust based on desired position */
    right: 20px; /* Adjust based on desired position */
    text-align: right;
}

#intro-section h2 {
    font-size: 1.5em;
    margin: 10px 0; /* Space between h1 and h2 */
    color: #ff0000;
}

#intro-section p {
    font-size: 1.2em;
    margin: 0;
    color: #000000;
}

/* Footer Section Styles */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: #000000;
    background-color: #ffffff; /* Optional: Add a background color */
    padding: 20px 0; /* Optional: Add padding for better visibility */
}

/* About me section */
.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items in the center vertically */
}

.about-me-content {
    display: flex;
    max-width: 80000px; /* Adjust maximum width as needed */
}

.about-me-text {

    flex: 2;
    padding: 100px;
    font-size: 20px;
}

.about-me-photo {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Align the image to the left */
    align-items: center; /* Align vertically */
}

.about-me-photo img {
    align-items: left;
    width: 400px; /* Adjust the size of the image */
    height: 400px; /* Adjust the size of the image */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Maintain aspect ratio */
    margin-left: 20px; /* Add margin for spacing */
}



