/* Global Styles */
html, body {
    margin: 0;
    padding: 0;
}



body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0px; /* Optional: Adjust padding for the body */
    position: relative; /* Ensure body is the reference for absolute positioning */
}


