.projects {
    display: flex;
    flex-direction: column;
    margin-top: 420px;
    padding-top: 200px;
}

.projects h2 {
    padding-top: 10px;
    color: #0056b3;
    text-align: center;
    font-size: 3em;
}

.project-slideshow {
    display: flex;
    transition: transform 0.5s ease; /* Add transition for smooth sliding */
    overflow: hidden; /* Hide overflow content */
}

.project {
    flex: 0 0 100%; /* Each project takes full width of the container */
    display: flex;
    align-items: center; /* Center vertically */
}

.project-image {
    flex: 0 0 auto;
    width: 550px; /* Ensure image fills its container */
    height: 350px; /* Ensure image fills its container */
}

.project-image img {
    margin-top: 35px;
    width: 100%; /* Ensure image fills its container */
    border-radius: 30px;
}

.project-info {
    flex-grow: 1;
    margin-left: 200px;
}

.project-info h3,
.project-info .tech,
.project-info .details {
    width: 100%; /* Ensure text fills its container */
}

.project h3 {
    padding-top: 1px;
    font-size: 1.9em;
    margin-bottom: 10px;
    color: #0056b3;
}

.project .tech {
    font-size: 1.7em;
    color: #666;
}

.project .details {
    font-size: 1.3em;
    color: #444;
    margin-bottom: 10px;
}

.github-link {
    font-size: 50px;
    border-radius: 50px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
    border-radius: 50%;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}
