.projects {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding-top: 200px;
    width: 100px;
    max-width: 1000%;
    align-items: center; /* Center horizontally */
    gap: 20px;
}

.projects h2 {
    margin-top: 0; /* Remove default margin */
    text-align: center;
    width: 1000px;
}

.project {
    display: flex;
    width: 100%;
    max-width: 600px;
}


.project-image img {
    width: 500px; /* Adjust the width of the image */
    height: 500px;
    height: auto; /* Maintain aspect ratio */
    border-radius: 30px;
}

.project-info {
    margin-left: 100px;
    flex-grow: 1;
    width: 1000px;
    padding-left: 20px; /* Adjust padding left */
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0056b3;
}

.project .tech {
    font-size: 1.1em;
    color: #666;
}

.project .details {
    font-size: 1em;
    color: #444;
    margin-bottom: 10px;
}

.github-link {
    display: inline-block;
    margin-top: 10px;
}

.github-link img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.github-link:hover img {
    transform: scale(1.1);
}
