.projects {
    flex-direction: column;
    padding-top: 160px;
    width: 100%;
}

.projects h2 {
    padding-top: 20px;
    color: #0056b3;
    font-size: 3em;
    margin-bottom: 40px; /* Add margin for spacing */
    text-align: center;
}

.project {
    display: flex;
    align-items: center; /* Center vertically */
    width: 100%; /* Stretch to full width */
    margin-bottom: 40px; /* Space between projects */
    flex-wrap: wrap; /* Allow wrapping for small screens */
}

.project-image {
    flex: 1;
    padding: 10px; /* Add padding for spacing */
    width: 100%; /* Ensure image container fills width */
    height: auto; /* Maintain aspect ratio */
    display: flex;
    justify-content: center; /* Center image horizontally */
}

.project-image img {
    width: 100%;
    max-width: 500px; /* Limit image width for large screens */
    height: auto; /* Maintain aspect ratio */
    border-radius: 30px;
    border: 5px solid black;
}

.project-info {
    flex: 2;
    padding: 20px; /* Add padding for spacing */
    margin-left: 20px; /* Margin between image and text */
    width: 100%; /* Ensure text fills its container */
    text-align: left; /* Align text to the left */
}

.project-info h3,
.project-info .tech,
.project-info .details {
    width: 100%; /* Ensure text fills its container */
}

.project-info h3 {
    font-size: 1.9em;
    margin-bottom: 10px;
    color: #0056b3;
}

.project-info .tech {
    font-size: 1.7em;
    color: #666;
}

.project-info .details {
    font-size: 1.3em;
    color: #444;
    margin-bottom: 10px;
}

.github-link {
    font-size: 50px;
    border-radius: 50px;
}

/* Responsive Design */
@media only screen and (max-width: 430px) {
    
    .project {
        flex-direction: column; /* Stack project details vertically */
        margin-bottom: 20px;
        width: 100%;
        text-align: center;

    }
    .projects h2 {
        font-size: 2em;
        width: 400px;
        text-align: center;
    }

    

    .project-image {
        padding: 0;
        width: fit-content;
    }

    .project-image img {
        padding: 0%;
        width: fit-content;
        width: 250px;

    }

    .project-info {
        padding: 10px;
        margin-left: 0;
        width: fit-content;
        width: 400px;

    }

    .project-info h3 {
        font-size: 1.5em;
        width: fit-content;

    }

    .project-info .tech {
        font-size: 1.3em;
        width: fit-content;

    }

    .project-info .details {
        font-size: 1em;
        width: fit-content;

    }

    .github-link {
        font-size: 30px;
        width: fit-content;

    }
}
